.clearfix {
    clear: both;
}
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
    content: " ";
    height: 0;
}
.clearfix {
    zoom: 1;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    border:0;
    padding:0;
    font-style:normal;
}
ul, li {
    list-style: none;
}
p {
    font-size: 0.7rem;
    color: #757575;
}
a {
    color: #0062cc;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    outline: 0;
}
/*背景*/
.common-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background: url(../img/common/bg.jpg);
    background-size: cover;
}
/*logo*/
.common-logo-wrap{
    text-align: center;
}
.common-logo-wrap img{
    margin-top: 1rem;
    width: 4rem;
}
.model-hiden{
    display: none;
}
.model-show{
    display: block;
}
/*iPhone5的适配*/
@media only screen and (max-width: 320px){
    .common-wrap {
        position: relative;
        height: 568px;
    }
    .common-logo-wrap img{
        margin-top: 1rem;
        width: 3.2rem;
    }
}
/* 固定高度，滚动查看 */
@media only screen and (min-height: 704px) and (max-height: 735px)  {
    .common-wrap {
        position: relative;
        height: 667px;
    }
}
@media only screen and (min-height: 736px) {
    .common-wrap {
        position: relative;
        height: 736px;
    }
}
@media only screen and (min-height: 768px) {
    .common-wrap {
        position: relative;
        height: 1024px;
    }
}
.page-bottom-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #061b48;
}
.page-bottom-wrap .page-bottom-line {
    padding: 0 15px;
    position: absolute;
    top: -12px;
}
.page-bottom-wrap .page-bottom-line img {
    width: 100%;
}
.page-bottom-wrap .page-bottom-button {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.page-bottom-wrap .page-bottom-button a {
    width: 25%;
    text-align: center;
    display: block;
    padding: 10px 0px;
}
.page-bottom-wrap .page-bottom-button a img {
    width: 30%;
}
.page-bottom-wrap .page-bottom-button a p {
    color: #1ed2e5;
    font-size: 11px;
}
.page-bottom-wrap .page-bottom-button a.active p {
    font-weight: bold;
}