* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	background: #000;
	color: #fff;
	font-size: 14px;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
.gift-packs-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../img/giftPacks/bg3.png);
	background-size: cover;
}
.top-talk {
	width: 100%;
	margin-top: 20px;
}
.top-talk img {
	width: 100%;
}
.play-way-wrap {
	width: 100%;
	position: absolute;
	top: 45%;
}
.play-way-wrap img {
	width: 100%;
}
.join-in-wrap {
	width: 100%;
	position: absolute;
	top: 67%;
	text-align: center;
}
.join-in-wrap .join-btn {
	display: block;
}
.join-in-wrap .join-icon, .join-in-wrap .join-btn img,.join-in-wrap .join-address {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.join-in-wrap .join-icon {
	width: 11%;
	animation:todown .8s linear infinite;
	-webkit-animation:todown .8s linear infinite; /*Safari and Chrome*/
}
@keyframes todown
{
	0% {transform: translate(0,0px);}
	50% {transform: translate(0,8px);}
	100% {transform: translate(0,0px);}
}

@-webkit-keyframes todown 
{
	0% {transform: translate(0,0px);}
	50% {transform: translate(0,8px);}
	100% {transform: translate(0,0px);}
}
.join-in-wrap .join-btn img {
	width: 30%;
}
.join-in-wrap .join-address {
	margin-top: 10px;
	width: 45%;
}
.join-in-wrap .join-link {
	color: #fff;
	margin-top: -20px;
	font-size: 13px;
	display: block;
	text-decoration: none;
}
.tips-wrap {
	position: absolute;
	bottom: -4px;
	width: 100%;
	text-align: center;
}
.tips-wrap img {
	width: 85%;
}
.tips-word {
	position: absolute;
	bottom: 10px;
	font-size: 9px;
	color: #c4c4c4;
	margin: 0 auto;
	left: 0;
	right: 0;
	transform: scale(.9,.9);
}
.gift-box-wrap {
	position: relative;
    top: 3%;
    left: -1%;
    width: 375px;
    margin: 0 auto;
}
.gift-box-wrap img {
	width: 100%;
    position: absolute;
    top: -10%;
    /* z-index: 0; */
    left: 0%;
}
.gift-box {
	background: url(./../img/giftPacks/box-animate2.png);
	width: 610px;
	height:417px;
	animation: boxopen 2s 2s steps(14) forwards;
	zoom:0.5;
	margin: 0 auto;
	position: relative;
	/* transition-delay: 2s; */
}
@keyframes boxopen{
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1400% 0px;
	}
}
.light {
	width: 349px;
	height: 174px;
	background: url(./../img/giftPacks/light2.png);
	animation: light 1s 2s steps(7) infinite;
	zoom:0.5;
	margin: 0 auto;
	margin-top: -140px;
	position: relative;
}
@keyframes light{
	from {
		background-position: 0 0;
	}
	to {
		background-position: -700% 0px;
	}
}
.gift-box img {
	width: 100%;
}


/*iPhoneX的适配*/
/* @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .gift-packs-wrap {
        padding-top: 88px;   //为导航栏+状态栏的高度 88px  
    }
    } */
/*iPhone5的适配*/
@media only screen and (max-width: 320px){
	.tips-word {
		transform: scale(.8,.8);
	}
}
@media only screen and (max-width: 374px){
	.gift-box-wrap {
		width: 320px;

	}
	.gift-box, .light  {
      zoom:0.4;
	}
	.gift-box-wrap img {
		top: -16%;
	}
}

/* 固定高度，滚动查看 */
@media only screen and (max-height: 704px) {
	.gift-packs-wrap {
		position: relative;
		height: 704px;
	}

}